<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.newer.dao.ShippinginfoMapper" >
  <resultMap id="BaseResultMap" type="com.newer.domain.Shippinginfo" >
    <id column="SHIPID" property="shipid" jdbcType="VARCHAR" />
    <result column="SHIPNAME" property="shipname" jdbcType="VARCHAR" />
    <result column="SHIPCONTACT" property="shipcontact" jdbcType="VARCHAR" />
    <result column="TELEPHONE" property="telephone" jdbcType="VARCHAR" />
    <result column="PRICE" property="price" jdbcType="DECIMAL" />
    <result column="MODIFIEDTIME" property="modifiedtime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    SHIPID, SHIPNAME, SHIPCONTACT, TELEPHONE, PRICE, MODIFIEDTIME
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.newer.domain.ShippinginfoExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from SHIPPINGINFO
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from SHIPPINGINFO
    where SHIPID = #{shipid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from SHIPPINGINFO
    where SHIPID = #{shipid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.newer.domain.Shippinginfo" >
    insert into SHIPPINGINFO (SHIPID, SHIPNAME, SHIPCONTACT, 
      TELEPHONE, PRICE, MODIFIEDTIME
      )
    values (#{shipid,jdbcType=VARCHAR}, #{shipname,jdbcType=VARCHAR}, #{shipcontact,jdbcType=VARCHAR}, 
      #{telephone,jdbcType=VARCHAR}, #{price,jdbcType=DECIMAL}, #{modifiedtime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.newer.domain.Shippinginfo" >
    insert into SHIPPINGINFO
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="shipid != null" >
        SHIPID,
      </if>
      <if test="shipname != null" >
        SHIPNAME,
      </if>
      <if test="shipcontact != null" >
        SHIPCONTACT,
      </if>
      <if test="telephone != null" >
        TELEPHONE,
      </if>
      <if test="price != null" >
        PRICE,
      </if>
      <if test="modifiedtime != null" >
        MODIFIEDTIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="shipid != null" >
        #{shipid,jdbcType=VARCHAR},
      </if>
      <if test="shipname != null" >
        #{shipname,jdbcType=VARCHAR},
      </if>
      <if test="shipcontact != null" >
        #{shipcontact,jdbcType=VARCHAR},
      </if>
      <if test="telephone != null" >
        #{telephone,jdbcType=VARCHAR},
      </if>
      <if test="price != null" >
        #{price,jdbcType=DECIMAL},
      </if>
      <if test="modifiedtime != null" >
        #{modifiedtime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.newer.domain.Shippinginfo" >
    update SHIPPINGINFO
    <set >
      <if test="shipname != null" >
        SHIPNAME = #{shipname,jdbcType=VARCHAR},
      </if>
      <if test="shipcontact != null" >
        SHIPCONTACT = #{shipcontact,jdbcType=VARCHAR},
      </if>
      <if test="telephone != null" >
        TELEPHONE = #{telephone,jdbcType=VARCHAR},
      </if>
      <if test="price != null" >
        PRICE = #{price,jdbcType=DECIMAL},
      </if>
      <if test="modifiedtime != null" >
        MODIFIEDTIME = #{modifiedtime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where SHIPID = #{shipid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.newer.domain.Shippinginfo" >
    update SHIPPINGINFO
    set SHIPNAME = #{shipname,jdbcType=VARCHAR},
      SHIPCONTACT = #{shipcontact,jdbcType=VARCHAR},
      TELEPHONE = #{telephone,jdbcType=VARCHAR},
      PRICE = #{price,jdbcType=DECIMAL},
      MODIFIEDTIME = #{modifiedtime,jdbcType=TIMESTAMP}
    where SHIPID = #{shipid,jdbcType=VARCHAR}
  </update>
</mapper>